.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 50px;
    left: 1%;
    right: 1%;
    height: 90vh;
    padding: 0px 10px;
}

.about_dark {
    background-color: #20232A;
    color: #fff;
}

.about_img {
    width: 200px;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
}

.heading img {
    max-width: 300px;
    width: 50%;
}

.main {
    height: fit-content;
}